@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    width: 1200px;
    margin: auto;
    padding: 0px;
    background: url(/images/books2.jpg) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

p {
    padding-bottom: 2px;
    margin: 0;
    font-weight: bold;
}

.StyleSelectBox {
    width: 250px;
}

.nameDiv {
    text-decoration: none;
    text-transform: uppercase;
    color: #666666;
    font-size: 80px;
    text-align: center;
    line-height: 140px;
    font-family: Open Sans Extra-Bold;
    letter-spacing: 25px;
}

.bodyDiv {
    margin: auto;
    margin-top: 0px;
}

.bodyDiv a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding-left: 20px;
}

.authInput {
    width: 350px;
}

.passInput {
    width: 191px;
    -webkit-text-security: disc;
    letter-spacing: 7px;
    padding-left: 3px;
}

.mainDiv {
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.mainDiv a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0;
}

table {
    border-collapse: collapse;
    margin: 10px;
    background-color: #525252;
    color: aliceblue;
    box-shadow: 2px 2px 6px black;
}

td {
    padding: 5px;
    border: 1px solid #0b0b0b;
}
.headerRow{
    font-weight: bold;
    color: floralwhite;
    background-color: #323232;
}
/*-----------Меню-----------*/
ul.css-menu-2 {
    list-style: none;
    border-bottom: 1px #888899 solid;
    padding-bottom: 10px;
}

ul.css-menu-2 li {
    display: inline;
    margin-right: 5px;
}

ul.css-menu-2 li a {
    color: #888899;
    text-decoration: none;
    background: #f7f7f9;
    border: 1px #bbbbcc solid;
    border-bottom: none;
    padding: 10px 14px;
}

ul.css-menu-2 li a:hover {
    padding: 14px 14px 10px 14px;
    background-color: #D4C19D;
    color:#000;
    border: 1px #000 solid;
    transition: all 0.5s ease;
}

ul.css-menu-2 li a.selected {
    color: #000;
    background: #6A9E5F;
    border: 1px #000 solid;
    border-bottom: 1px #888899 solid;
    padding: 14px 14px 10px 14px;
    font-weight: bold;
}
/*-----------/Меню-----------*/

/*----Форма поиска----*/
.search_header {
    position: relative;
    left: -5px;
    color: #eee;
    font-size: 36px;
    top: -55px;
    float: right;
}

.search_header:hover {
    color: #ff8100;
    cursor: pointer;
    transition: all 0.5s ease;
}
.search_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10002;
    width: 84%;
    margin-left: -42%;
    height: 80px;
    margin-top: -40px;
    display: none;
}

.search_vspl {
    width: 100%;
    position: relative;
}

.search_vspl input {
    outline: none;
    border: none;
    padding-left: 25px;
}

.search_vspl .input_vspl {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    font-size: 38px;
    color: #555;
    outline: none;
    height: 80px;
}

.search_vspl .searchsubmit {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    font-size: 27px;
    outline: none;
    border: medium none;
    color: #fff;
    background: #ff8100;
}

.search_popup .searchsubmit:hover {
    cursor: pointer;
    background: #de6f00;
    transition: all 0.5s ease;
}

.close_search {
    position: fixed;
    top: 0;
    right: 60px;
    color: #fff;
    font-size: 140px;
    z-index: 10002;
    display: none;
}

.close_search:hover {
    cursor: pointer;
}

.opacity {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ff8100;
    opacity: 0.7;
    z-index: 10001;
    display: none;
}
/*----END Форма поиска----*/

.selectorName {
    margin-top: 10px;
}

.inputPass {
    margin-top: 10px;
}

.selectResult {
    font-size: 0.7em;
    height: 20px;
    margin-top: 5px;
    padding: 0;
    margin-bottom: 5px;
}

#useProfileButton {
    margin-top: 2px;
}

.up_button i {
    font-size: 40px;
    position: fixed;
    right: 25px;
    bottom: 30px;
    opacity: 0.5;
    display: none;
}

.up_button i:hover {
    opacity: 0.9;
    text-decoration: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

/*-----------Форма данных авторизации-----------*/
.autorizationInfo {
    width: 300px;
    position: fixed;
    right: 10px;
    top: 10px;
    background-color:#FEFCEA;
    border: 1px #888899 solid;
    font-size: 10px;
    opacity: 0.75;
}
.autorizationInfo ul {
    list-style: none;
    margin: 0px;
    padding: 5px;
}
.autorizationInfo ul li {
    display: block;
    margin-bottom: 2px;
    text-align: left;
}
.autorizationInfo ul li input {
    width:100%;
}
.autorizationInfo .leftLi {
    text-align: right;
}
/*-----------/Форма данных авторизации-----------*/
