

body {
    margin: 0px;
    padding: 0px;
    background-image: url("/images/books2.jpg");
    /*background-color: #0b0b0b;*/

}

.bodyDiv {
    margin: auto;
    margin-top: 0px;
    width: 70%;
    height: 100%;
    /*background: linear-gradient(to top, #fefcea, mediumseagreen);*/
}

.authInput {
    width: 350px;
}

.mainDiv {
    background-color: antiquewhite;
    color: blue;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    margin: 10px;
    background-color: #525252;
    color: aliceblue;
    box-shadow: 2px 2px 6px black;
}

td {
    padding: 5px;
    border: 1px solid #0b0b0b;
}
.headerRow{
    font-weight: bold;
    color: floralwhite;
}
.btn{
    display: inline-block;
    background-color: cornflowerblue;
    color: #525252;
    font-weight: bold;
    padding: 15px;
    border: 2px solid #525252;
}
.btn:hover {
    background-color: ivory;
    color: green;
}
.btn:active {
    border: 1px solid red;
}


/*.not-active {
    pointer-events: none;
    cursor: default;
}*/