@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0px;
    padding: 0px;
    background: url(/images/books2.jpg) no-repeat;
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

p {
    padding-bottom: 2px;
    margin: 0;
    font-weight: bold;
}

.StyleSelectBox {
    width: 250px;
}

.nameDiv {
    text-decoration: none;
    text-transform: uppercase;
    color: #666666;
    font-size: 80px;
    text-align: center;
    line-height: 140px;
    font-family: Open Sans Extra-Bold;
    letter-spacing: 25px;
}

.bodyDiv {
    margin: auto;
    margin-top: 0px;
    width: 70%;
    height: 100%;
}

.bodyDiv a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding-left: 20px;
}

.authInput {
    width: 350px;
}

.passInput {
    width: 161px;
    -webkit-text-security: disc;
    letter-spacing: 4.5px;
    padding-left: 3px;
    margin-top: 10px;
}

.mainDiv {
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.mainDiv a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0;
}

table {
    border-collapse: collapse;
    margin: 10px;
    background-color: #525252;
    color: aliceblue;
    box-shadow: 2px 2px 6px black;
}

td {
    padding: 5px;
    border: 1px solid #0b0b0b;
}
.headerRow{
    font-weight: bold;
    color: floralwhite;
    background-color: #323232;
}
/*-----------Меню-----------*/
ul.css-menu-2 {
    list-style: none;
    border-bottom: 1px #888899 solid;
    padding-bottom: 10px;
}

ul.css-menu-2 li {
    display: inline;
    margin-right: 5px;
}

ul.css-menu-2 li a {
    color: #888899;
    text-decoration: none;
    background: #f7f7f9;
    border: 1px #bbbbcc solid;
    border-bottom: none;
    padding: 10px 14px;
}

ul.css-menu-2 li a:hover {
    padding: 14px 14px 10px 14px;
    background-color: #D4C19D;
    color:#000;
    border: 1px #000 solid;
    transition: all 1s ease;
}

ul.css-menu-2 li a.selected {
    color: #000;
    background: #6A9E5F;
    border: 1px #000 solid;
    border-bottom: 1px #888899 solid;
    padding: 14px 14px 10px 14px;
    font-weight: bold;
}
/*-----------Меню-----------*/

.selectorName {
    margin-top: 10px;
}